<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" href="{{ '/'' | relative_url }}">{{ site.title | escape }} </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <img src="/assets/apple-logos/1.png" width="20"/>
        </span>
      </label>

      <div class="trigger">
        <a href="/" class="page-link {% if page.url != '/about' and page.url != '/about-kr' and page.url != '/archive' and page.url != '/speaking-kr' and page.url != '/speaking' %}{% unless page.url contains 'review'%}active{% endunless %}{% endif %}">Blog</a>
        <a href="{{ site.baseurl }}{% link review/index.md %}" class="page-link {% if page.url contains 'review' %}active{% endif %}">Review</a>
        <a href="{{ site.baseurl }}{% link speaking/index.md %}" class="page-link {% if page.url == '/speaking' or page.url == '/speaking-kr' %}active{% endif %}">Speaking</a>
        <a href="/archive" class="page-link {% if page.url == '/archive' %}active{% endif %}">Archive</a>
        <a href="{{ site.baseurl }}{% link about/index.md %}" class="page-link {% if page.url == '/about' or page.url == '/about-kr' %}active{% endif %}">About</a>
      </div>
    </nav>
  </div>
</header>
