<header class="site-header" role="banner">

  <div class="wrapper">
    <p class="site-logo"><img align="bottom" src="/assets/apple-logos/1.png" width="24" /></p>

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }} </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <img src="/assets/apple-logos/1.png" width="20"/>
        </span>
      </label>

      <div class="trigger">
        <a href="/" class="page-link {% if page.url != "/about" and page.url != "/archive" %}active{% endif %}">Blog</a>
        <a href="/archive" class="page-link {% if page.url == "/archive" %}active{% endif %}">Archive</a>
        <a href="/about" class="page-link {% if page.url == "/about" %}active{% endif %}">About</a>
      </div>
    </nav>
  </div>
</header>
