<div id="sidebar">
  <h1 style="font-size: 21px;">Soojin Ro (노수진)</h1>
  <p>Maker & Breaker & iOS Developer</a></p>
  <p><a href="/about">More about me</a></p>
  <img src="/assets/SoojinRo.JPG" width="180" />

  <!-- Social links -->
  <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
    <li>
      {% include icon-email.html username=site.email %}
    </li>
    <li>
      {% include icon-linkedin.html %}
    </li>
    <li>
      {% include icon-appstore.html %}
    </li>
    <li>
      {% include icon-medium.html %}
    </li>
   <!--  <li>
      {% include icon-github.html username=site.github_username %}
    </li> -->
  </ul>

</div>
