---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.draft %}
    <h1 class='draft-header'> 비공개 draft </h1>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ page.url }}">{{ page.title | escape }}</a></h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time> &nbsp;
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    {% include thanks-to.html %}
  </div>

  <p class="extra-info">
    {% if page.tags.size > 0 %}
      Tags: {{ page.tags | join: ', ' }} &nbsp; <!-- | &nbsp;  -->
    {% endif %}
  </p>

  <script src="https://utteranc.es/client.js"
          repo="nsoojin/nsoojin.github.io"
          issue-term="pathname"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</article>
